body{
    background-color: gray;
}
.kék_lap{
    background-color: lightblue;
    width: 960px ;
    margin: 0 auto 0 auto;
    padding: 30px;
    text-align: justify;
}
h1{
    text-align: center;
    border-bottom: double 6px darkblue;

}


.alap{
    border-top: rgb(0, 0, 156) solid 2px;
    border-bottom: dotted darkblue 2px;
    margin-right: 400px;
    color: rgb(0, 0, 156);
}
.kep1{
    width: 200px;
    border: darkblue 7px solid;
    float: right;
    margin-left: 20px;
}



.kukac{
    padding-left: 100px;
}
.kukackep{
    margin-right: 5px;
}
.neumann2{
    width: 200px;
    border:darkblue 7px solid;
    float: right;
    margin-left: 20px;
}
.neumann{
    width: 200px;
    border:darkblue 7px solid;
    float: left;
    margin-right: 20px;
}
.alan{

    width: 200px;
    border:darkblue) 7px solid;
    float: left;
    margin-right: 20px;
    margin-bottom: 80px;
}
.alan2{
    margin-bottom: 30px;
}
a:hover{
    color: darkblue;
    font-style: bold;
}
a{
    font-style: italic;
}
.neumann3{
    border-top: darkblue solid 2px;
    border-bottom: dotted rgb(0, 0, 156) 2px;
   
    color: rgb(0, 0, 156);
}
.neumann4{
    margin-right: 400px;
}
ul{
    list-style-image: url('kukac.png');
    margin-left: 100px;
}