body{
    background-color: gray;
}
.kék_lap{
    background-color: rgb(119, 206, 218);
    width: 960px ;
    margin: 0 auto 0 auto;
    padding: 30px;
    text-align: justify;
}
h1{
    text-align: center;
    
}



.info{
   border-bottom: double;

}
.definicio{
    border-top: solid blue 2px;
}